<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Cookbook", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <style>
      <%= Makeup.stylesheet(:paraiso_dark_style, "makeup") %>
      .makeup {display: block; padding: 10px 20px}
    </style>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="h-full">
    <header class="container mx-auto px-4">
      <h1 class="text-2xl my-10"><a href="/" class="text-violet-600">Elixir Cookbook</a> is a collection of recipes made by the community for the <a class="text-violet-600 underline" href="https://elixir-lang.org" target="_blank">Elixir language</a>.</h1>
    </header>
    <%= @inner_content %>
  </body>
</html>
